<?xml version="1.0" encoding="utf-8"?>
<packages>
# WindowsTerminal (https://www.microsoft.com/ja-jp/p/windows-terminal/9n0dx20hk701)
# is a powerful terminal software. I recommend you to use this software when you use WSL2 ubuntu.
    <package id="microsoft-windows-terminal" />
# Git (https://gitforwindows.org/) supports git command on windows.
    <package id="git" />
# Vscode (https://code.visualstudio.com/)
# is a very powerful editor. I strongly suggest you to use this editor when you edit any text files.
# (Install option reference is here : https://proudust.github.io/20200726-winget-install-vscode/)
    <package id="vscode" />
# You can extract tar.gz etc. files by using 7zip (https://sevenzip.osdn.jp/).
    <package id="7zip" />
# Winscp (https://winscp.net/eng/docs/lang:jp)
# provides you to download/upload files with calculation servers by using scp (or sftp) protocol.
    <package id="winscp" />
# Teraterm (https://ttssh2.osdn.jp/) is a terminal software.
# If you don't like other terminal softwares, you can use this software.
    <package id="teraterm" />
# VcXsrv (https://sourceforge.net/projects/vcxsrv/) is a X-server software.
# If you want to use GUI software when you use CLI WSL linux, VcXsrv supports this(GUI) feature.
    <package id="vcxsrv" />
</packages>
